/**
* Generic styles
*/

@import url('https://fonts.googleapis.com/css?family=Exo');

html {
	body {
		background-color: $about-bg;

		section {
			min-height: 100vh;

		}

		.bottom {
			font-size: 1.2rem;
			text-align: center;
			color: $about-color;
			margin: 0;
		}
	}
}

.bottom,
a {
	color: lighten($about-color, 10%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $text-color;
}

a:hover {
	text-decoration: none;
}

.btn {
	border-radius: 50px;
}
