/**
* Portfolio styles
*/

#wrapper-pfs {
	padding: 3rem 0;
	background-color: #eee;

	.col-md-4 {
		margin-top: 2rem;

		.usp {
			box-shadow: 1em 0 .4em $shadow-color;

			summary {
				margin-bottom: 0.3rem;
			}
		}
	}

	.btn-secondary {
		background-color: $primary;
		border-color: $primary;
	}

	.card {
		.card-body {
			h1 {
				font-size: 1.25rem;
				margin-bottom: 1rem;
			}
		}
	}
}
