/**
* Portfolio styles
*/

#wrapper-pfs {
	padding: 3rem 0;
	background-color: #eee;

	.portfolio {
		margin-top: 2rem;

		img {
			margin-bottom: 0.5rem;
		}

		.pfs {
			box-shadow: 1em 0 .4em $shadow-color;

			summary {
				margin-top: 1rem;
			}
		}
	}

	.btn-secondary {
		background-color: $primary;
		border-color: $primary;
	}

	.card {
		.card-body {
			h1 {
				font-size: 1.25rem;
			}

			p {
				margin-top: 1rem;
			}
		}
	}
}

#single_pfs-wrapper {
	article {
		h1 {
			margin-bottom: 2rem;
		}

		img {
			margin-bottom: 3rem;
		}

		a {
			margin-top: 3rem;
		}
	}
}
