/**
* Portfolio styles
*/

#wrapper-pfs {
	padding: 3rem 0;
	background-color: $portfolio-bg;

	h1,
	p {
		color: $portfolio-color;
	}

	.portfolio {
		margin-top: 2rem;

		img {
			margin-bottom: 0.5rem;
		}

		.pfs {
			box-shadow: 1em 0 .4em $shadow-color;

			summary {
				margin-top: 1rem;
			}
		}
	}

	.btn-secondary {
		background-color: $primary;
		border-color: $primary;
	}

	.card {
		.card-body {
			background-color: lighten($portfolio-bg, 10%);

			a {
				background-color: darken($portfolio-bg, 20%);
				color: darken($portfolio-color, 20%);
			}

			em {
				color: lighten($portfolio-color, 10%);
			}

			.button-with-span {
				margin-top: 2rem;
			}

			h1 {
				font-size: 1.25rem;
			}

			p {
				margin-top: 1rem;
			}
		}

		.card-footer {

			small,
			.text-muted {
				color: $portfolio-color !important;
			}

			#metadata-wrapper {
				background-color: lighten($portfolio-bg, 10%);
			}
		}
	}
}
